In [1]:
import numpy as np
import pandas as pd
from matplotlib import pyplot as plt

## Commodity dataset

In [10]:
df_commodity = pd.read_csv(filepath_or_buffer="D:\TRI-NIT\Dataset\Commodity_prices")
df_commodity.head()

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
0,Andaman and Nicobar,South Andaman,Port Blair,Amaranthus,Amaranthus,04/03/2019,6000,8000,7000
1,Andaman and Nicobar,South Andaman,Port Blair,Banana - Green,Banana - Green,04/03/2019,4500,5500,5000
2,Andaman and Nicobar,South Andaman,Port Blair,Bhindi(Ladies Finger),Bhindi,04/03/2019,6000,8000,7000
3,Andaman and Nicobar,South Andaman,Port Blair,Bitter gourd,Other,04/03/2019,6000,8000,7000
4,Andaman and Nicobar,South Andaman,Port Blair,Black pepper,Other,04/03/2019,110000,130000,120000

In [5]:
df_commodity.describe()

           min_price      max_price    modal_price
count    2238.000000    2238.000000    2238.000000
mean     2456.230563    2855.890527    2698.865952
std      3452.497680    3917.251520    3694.830905
min         0.000000       0.000000       2.000000
25%       800.000000    1000.000000     950.000000
50%      1700.000000    1960.000000    1831.500000
75%      3200.000000    3700.000000    3500.000000
max    110000.000000  130000.000000  120000.000000

In [6]:
# missing data
df_commodity.isna().sum()

state           0
district        0
market          0
commodity       0
variety         0
arrival_date    0
min_price       0
max_price       0
modal_price     0
dtype: int64

## Crops dataset

In [11]:
df_crop = pd.read_csv("D:\TRI-NIT\Dataset\Crop_recommendation.csv")
df_crop.head()

    N   P   K  temperature   humidity        ph    rainfall label
0  90  42  43    20.879744  82.002744  6.502985  202.935536  rice
1  85  58  41    21.770462  80.319644  7.038096  226.655537  rice
2  60  55  44    23.004459  82.320763  7.840207  263.964248  rice
3  74  35  40    26.491096  80.158363  6.980401  242.864034  rice
4  78  42  42    20.130175  81.604873  7.628473  262.717340  rice

## District vs Rainfall dataset

In [12]:
df_rainfall = pd.read_csv("D:\TRI-NIT\Dataset\district wise rainfall normal.csv")
df_rainfall.head()

,STATE_UT_NAME,DISTRICT,JAN,FEB,MAR,APR,MAY,JUN,JUL,AUG,SEP,OCT,NOV,DEC,ANNUAL,Jan-Feb,Mar-May,Jun-Sep,Oct-Dec
0,ANDAMAN And NICOBAR ISLANDS,NICOBAR,107.3,57.9,65.2,117.0,358.5,295.5,285.0,271.9,354.8,326.0,315.2,250.9,2805.2,165.2,540.7,1207.2,892.1
1,ANDAMAN And NICOBAR ISLANDS,SOUTH ANDAMAN,43.7,26.0,18.6,90.5,374.4,457.2,421.3,423.1,455.6,301.2,275.8,128.3,3015.7,69.7,483.5,1757.2,705.3
2,ANDAMAN And NICOBAR ISLANDS,N & M ANDAMAN,32.7,15.9,8.6,53.4,343.6,503.3,465.4,460.9,454.8,276.1,198.6,100.0,2913.3,48.6,405.6,1884.4,574.7
3,ARUNACHAL PRADESH,LOHIT,42.2,80.8,176.4,358.5,306.4,447.0,660.1,427.8,313.6,167.1,34.1,29.8,3043.8,123.0,841.3,1848.5,231.0
4,ARUNACHAL PRADESH,EAST SIANG,33.3,79.5,105.9,216.5,323.0,738.3,990.9,711.2,568.0,206.9,29.5,31.7,4034.7,112.8,645.4,3008.4,268.1

## Data Preprocessing enuring the commodity and crops dataset having same label so that it can be mapped

In [13]:
df_crop["label"] = df_crop["label"].replace( ["rice","papaya","watermelon","muskmelon","apple","orange","coconut","jute","grapes","mango","banana","pomegranate","lentil","blackgram","maize","mungbean","mothbeans","coffee","cotton","pigeonpeas","kidneybeans","chickpea"],["Rice","Papaya","Water Melon","Karbuja(Musk Melon)","Apple","Orange","Coconut","Jute","Grapes","Mango","Banana","Pomegranate","Lentil (Masur)(Whole)","Black Gram (Urd Beans)(Whole)","Maize","Green Gram (Moong)(Whole)","Moath Dal","Tomato","Cotton","Pegeon Pea (Arhar Fali)","Niger Seed (Ramtil)","Bengal Gram Dal (Chana Dal)"])

In [14]:
Crops = df_crop["label"].unique()
Crops

array(['Rice', 'Maize', 'Bengal Gram Dal (Chana Dal)',
       'Niger Seed (Ramtil)', 'Pegeon Pea (Arhar Fali)', 'Moath Dal',
       'Green Gram (Moong)(Whole)', 'Black Gram (Urd Beans)(Whole)',
       'Lentil (Masur)(Whole)', 'Pomegranate', 'Banana', 'Mango',
       'Grapes', 'Water Melon', 'Karbuja(Musk Melon)', 'Apple', 'Orange',
       'Papaya', 'Coconut', 'Cotton', 'Jute', 'Tomato'], dtype=object)

## Data Pruning

In [15]:
df_commodity = df_commodity[df_commodity["commodity"].isin(Crops)]

In [16]:
df_commodity[df_commodity["commodity"]=="Cotton"]

,state,district,market,commodity,variety,arrival_date,min_price,max_price,modal_price
125,Gujarat,Panchmahals,Gogamba,Cotton,Other,04/03/2019,4500,4600,4550
163,Gujarat,Vadodara(Baroda),Bodeli,Cotton,Shanker 6 (B) 30mm FIne,04/03/2019,5301,5520,5400
164,Gujarat,Vadodara(Baroda),Bodeli(Hadod),Cotton,Shanker 6 (B) 30mm FIne,04/03/2019,5301,5514,5400
165,Gujarat,Vadodara(Baroda),Bodeli(Kalediya),Cotton,Shanker 6 (B) 30mm FIne,04/03/2019,5301,5517,5400
166,Gujarat,Vadodara(Baroda),Bodeli(Modasar),Cotton,Shanker 6 (B) 30mm FIne,04/03/2019,5301,5519,5400
707,Madhya Pradesh,Jhabua,Thandla,Cotton,DCH-32 (Ginned),04/03/2019,5300,5600,5400
727,Maharashtra,Buldhana,Deoulgaon Raja,Cotton,Desi,04/03/2019,5100,5400,5300
730,Maharashtra,Jalgaon,Yawal,Cotton,Other,04/03/2019,5150,5850,5200
749,Maharashtra,Nagpur,Savner,Cotton,Other,04/03/2019,5325,5325,5325
1144,Punjab,Mansa,Mansa,Cotton,American,04/03/2019,5200,5445,5390
1161,Punjab,Muktsar,Malout,Cotton,Other,04/03/2019,5400,5515,5500
1295,Tamil Nadu,Dharmapuri,Papparapatti,Cotton,Other,04/03/2019,5200,5700,5600
1323,Tamil Nadu,Krishnagiri,Uthangarai,Cotton,Other,04/03/2019,5200,6200,5700
1328,Tamil Nadu,Madurai,Thirumangalam,Cotton,MCU 5,04/03/2019,4200,4300,4250
1329,Tamil Nadu,Madurai,Thirumangalam,Cotton,Other,04/03/2019,3950,4080,4000
1344,Tamil Nadu,Salem,Gangavalli,Cotton,Other,04/03/2019,5600,5700,5650
1346,Tamil Nadu,Salem,Kolathur,Cotton,Other,04/03/2019,4600,5000,4800
1347,Tamil Nadu,Salem,Konganapuram,Cotton,Other,04/03/2019,5000,5400,5200
1351,Tamil Nadu,Salem,Thammampati,Cotton,GCH,04/03/2019,5600,5650,5625
1388,Tamil Nadu,Villupuram,Gingee,Cotton,RCH-2,04/03/2019,4250,4939,4595
1426,Tamil Nadu,Villupuram,Vikkiravandi,Cotton,Other,04/03/2019,4696,4912,4896
1450,Telangana,Karimnagar,Koratla,Cotton,Desi,04/03/2019,5150,6000,6000
1452,Telangana,Karimnagar,Vemulawada,Cotton,Cotton (Unginned),04/03/2019,5000,5350,5200

### No of districts

In [20]:
len(df_rainfall["DISTRICT"].unique())

637

### Test data of Nicobar in season January - Febraury

In [22]:
df_rainfall[df_rainfall["DISTRICT"]=="NICOBAR"]["Jan-Feb"]/2
## Divided by number of months.

0    82.6
Name: Jan-Feb, dtype: float64

In [23]:
val = "NICOBAR"
option = "Jan-Feb"

In [24]:
dataset = df_crop.to_numpy()
dataset
test_jan_feb = df_rainfall[df_rainfall["DISTRICT"]==val][option].to_numpy()
test = test_jan_feb/2
test

array([82.6])

## KNN algorithm for crop prediction based on rainfall in a location

In [25]:
from math import sqrt
 
# calculate the Euclidean distance between two vectors
def euclidean_distance(row1, row2):
    distance = (row1[0]-row2[6])**2
    return sqrt(distance)
 
# Locate the most similar neighbors
def get_neighbors(train, test_row, num_neighbors):
    distances = list()
    for train_row in train:
        #print(train_row)
        dist = euclidean_distance(test_row, train_row)
        distances.append((train_row, dist))
    distances.sort(key=lambda tup: tup[1])
    #print(distances)
    neighbors = list()
    for i in range(num_neighbors):
        neighbors.append(distances[i][0])
    return neighbors
 
neighbors = get_neighbors(dataset, test, 100)
pred=[]
print(test)
for neighbor in neighbors:
    pred.append(neighbor[-1])

#print(pred)
val = np.unique(pred)

[82.6]

## List of Crops

In [26]:
val

array(['Bengal Gram Dal (Chana Dal)', 'Cotton', 'Maize',
       'Niger Seed (Ramtil)', 'Papaya'], dtype='<U27')

## Crops vs previous price data

In [29]:
data = df_commodity[df_commodity["commodity"].isin(val)]

In [30]:
dict = {}
for i in val:
    max_val = max(data[data["commodity"]==i]["max_price"])
    min_val = max(data[data["commodity"]==i]["min_price"])
    min_modal_price = min(data[data["commodity"]==i]["modal_price"])
    max_modal_price = max(data[data["commodity"]==i]["modal_price"])
    avg_modal_price = data[data["commodity"]==i]["modal_price"].mean()
    dict[i] = {"Max Val":max_val,"Min Val":min_val,"Min Modal Price":min_modal_price,"Max Modal Price":max_modal_price,"Avg modal price":avg_modal_price}

## Crop prediction based on Geo location and ranked based on Avg Modal Price

In [39]:
# Test data 
# District = NICOBAR, season = Jan - Feb
df = pd.DataFrame.from_dict(dict).transpose()  
df.sort_values("Avg modal price", ascending=False)

,Max Val,Min Val,Min Modal Price,Max Modal Price,Avg modal price
Bengal Gram Dal (Chana Dal),11000.0,5400.0,5430.0,11000.0,8507.500000
Cotton,6200.0,5600.0,4000.0,6000.0,5207.869565
Niger Seed (Ramtil),4200.0,4100.0,4150.0,4150.0,4150.000000
Maize,2210.0,1953.0,1350.0,2210.0,1767.636364
Papaya,3000.0,2800.0,700.0,2900.0,1471.315789